# OSX
#
rentxignite/.DS_Store

# Xcode
#
rentxignite/build/
rentxignite/*.pbxuser
rentxignite/!default.pbxuser
rentxignite/*.mode1v3
rentxignite/!default.mode1v3
rentxignite/*.mode2v3
rentxignite/!default.mode2v3
rentxignite/*.perspectivev3
rentxignite/!default.perspectivev3
rentxignite/xcuserdata
rentxignite/*.xccheckout
rentxignite/*.moved-aside
rentxignite/DerivedData
rentxignite/*.hmap
rentxignite/*.ipa
rentxignite/*.xcuserstate
rentxignite/project.xcworkspace

# Android/IntelliJ
#
rentxignite/build/
rentxignite/.idea
rentxignite/.gradle
rentxignite/local.properties
rentxignite/*.iml
rentxignite/*.hprof

# node.js
#
rentxignite/node_modules/
rentxignite/npm-debug.log
rentxignite/yarn-error.log

# BUCK
rentxignite/buck-out/
rentxignite/\.buckd/
rentxignite/*.keystore
rentxignite/!debug.keystore
rentxignite/.env

# Bundle artifacts
rentxignite/*.jsbundle

# CocoaPods
rentxignite/ios/Pods/

# Expo
rentxignite/.expo/
rentxignite/web-build/







# OSX
#
mobile/.DS_Store

# Xcode
#
mobile/build/
mobile/*.pbxuser
mobile/!default.pbxuser
mobile/*.mode1v3
mobile/!default.mode1v3
mobile/*.mode2v3
mobile/!default.mode2v3
mobile/*.perspectivev3
mobile/!default.perspectivev3
mobile/xcuserdata
mobile/*.xccheckout
mobile/*.moved-aside
mobile/DerivedData
mobile/*.hmap
mobile/*.ipa
mobile/*.xcuserstate
mobile/project.xcworkspace

# Android/IntelliJ
#
mobile/build/
mobile/.idea
mobile/.gradle
mobile/local.properties
mobile/*.iml
mobile/*.hprof

# node.js
#
mobile/node_modules/
mobile/npm-debug.log
mobile/yarn-error.log

# BUCK
mobile/buck-out/
mobile/\.buckd/
mobile/*.keystore
mobile/!debug.keystore
mobile/.env

# Bundle artifacts
mobile/*.jsbundle

# CocoaPods
mobile/ios/Pods/

# Expo
mobile/.expo/
mobile/web-build/









# Logs
# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Runtime data
backend/pids
backend/*.pid
backend/*.seed
backend/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
backend/lib-cov

# Coverage directory used by tools like istanbul
backend/coverage

# nyc test coverage
backend/.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
backend/.grunt

# Bower dependency directory (https://bower.io/)
backend/bower_components

# node-waf configuration
backend/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
backend/build/Release

# Dependency directories
backend/node_modules/
frontend/node_modules/
backend/jspm_packages/

# TypeScript v1 declaration files
backend/typings/

# Optional npm cache directory
backend/.npm

.vscode
backend/.vscode
# Optional eslint cache
backend/.eslintcache

# Optional REPL history
backend/.node_repl_history

# Output of 'npm pack'
backend/*.tgz

# Yarn Integrity file
backend/.yarn-integrity

# dotenv environment variables file
backend/.env
# dotenv environment variables file
frontend/.env

# next.js build output
backend/.next
backend/dist

backend/tmp/uploads/*
backend/!tmp/uploads/.gitkeep