<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    color:#5f6368;
    line-height: 21px;
  }
  .start_date{
font-family:Google Sans,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
color:#5f6368;font-size:14px;
 line-height:22px;
 padding:0px 24px 25px 0px"
  }
</style>

<div class="message-content">
<p>Olá, {{name}}</p>
<p>Reserva realizada com sucesso!</p>

<p  class="start_date">
  <br />
  Data de início:
   <br />
    <strong color="#AEAEB3" fontSize="14">{{start_date}}</strong>
  <br />
    à
  <br />
   Data fim:
    <br /><strong color="#AEAEB3" fontSize="14">{{expected_return_date}}</strong>
  <br />
</p>

<p>Agora só deslocar até a locadora mais próximo e fazer a retirada <br />

do seu veículo!</p>
<p>Obrigado! <br /> <strong>Equipe da LocalX</strong></p>

</div>
