<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    color:#5f6368;
    line-height: 21px;
  }
  .start_date{
font-family:Google Sans,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
color:#5f6368;font-size:14px;
 line-height:22px;
 padding:0px 24px 25px 0px"
  }
</style>

<div id=":1ae" class="a3s aiL msg8346199395104423581">

    <div style="margin:0;padding:0" dir="ltr" bgcolor="#ffffff">
        <table id="m_8346199395104423581email_table" style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
                <tr>
                    <td id="m_8346199395104423581email_content" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
                        <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="line-height:20px" colspan="3" height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="line-height:1px" height="1"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="border-collapse:collapse;text-align:center;width:100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="width:15px" width="15px"></td>
                                                    <td style="line-height:0px;max-width:600px;padding:0 0 15px 0">
                                                        <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:100%;text-align:left;height:33px">
                                                                        <img src="https://ci4.googleusercontent.com/proxy/H-WMBt20rSRWwIK0YLwC8Uyi1mnXWEEEiUT0twBA78N4_Rbri9VuqAL_Azd6xVjLkSiTQ6r1RjyDJ2Hx1O_3UqLo4H_LxG1o8LHL4yDfZw=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/QTa-gpOyYBa.png" style="border:0" class="CToWUd" height="33">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width:15px" width="15px"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="border-collapse:collapse;margin:0 auto 0 auto" width="430" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table style="border-collapse:collapse;margin:0 auto 0 auto;width:430px" width="430px" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="display:block;width:20px" width="20">&nbsp;&nbsp;&nbsp;</td>
                                                                                                    <td>
                                                                                                        <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">Olá, {{name}}.</p>
                                                                                                                        <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">Sentimos muito ao saber que você está com problemas para fazer o login no Instagram. Podemos ajudar você a voltar a acessar sua conta imediatamente.</p>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td style="line-height:20px" height="20">&nbsp;</td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <a href="https://www.instagram.com/_n/web_emaillogin?uid=l06p6hd&amp;token=IhAAIR&amp;auto_send=0" style="color:#3b5998;text-decoration:none;display:block;width:370px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/_n/web_emaillogin?uid%3Dl06p6hd%26token%3DIhAAIR%26auto_send%3D0&amp;source=gmail&amp;ust=1627644675726000&amp;usg=AFQjCNHS5KQdkLkNxgAEvQYcInitHDnsbA">
                                                                                                                            <table style="border-collapse:collapse" width="390" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td style="border-collapse:collapse;border-radius:3px;text-align:center;display:block;border:solid 1px #009fdf;padding:10px 16px 14px 16px;margin:0 2px 0 auto;min-width:80px;background-color:#47a2ea">
                                                                                                                                            <a href="https://www.instagram.com/_n/web_emaillogin?uid=l06p6hd&amp;token=IhAAIR&amp;auto_send=0" style="color:#3b5998;text-decoration:none;display:block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/_n/web_emaillogin?uid%3Dl06p6hd%26token%3DIhAAIR%26auto_send%3D0&amp;source=gmail&amp;ust=1627644675726000&amp;usg=AFQjCNHS5KQdkLkNxgAEvQYcInitHDnsbA">
                                                                                                                                                <center><font size="3"><span style="font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#fdfdfd;font-size:16px;line-height:16px">Entrar&nbsp;como&nbsp;djamilsonac</span></font>
                                                                                                                                                </center>
                                                                                                                                            </a>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                        </a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td style="line-height:20px" height="20">&nbsp;</td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="display:block;width:15px" width="15">&nbsp;&nbsp;&nbsp;</td>
                                                                </tr>
                                                                <tr>

                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="display:block;width:20px" width="20">&nbsp;&nbsp;&nbsp;</td>
                                                                                                    <td>
                                                                                                        <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td></td>
                                                                                                                    <td style="padding:0;margin:10px 0 10px 0;color:#565a5c;font-size:16px">Você também pode <a href="https://instagram.com/accounts/password/reset/confirm/?uidb36=l06p6hd&amp;token=SZiKoANpkHgEV1DdcU7Qpci7eQHEEchEj2yLpTiGND2ZZ3urflJBdgmsToQ70JJ3:one_click_login_email&amp;s=one_click_login_email" style="color:#3b5998;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://instagram.com/accounts/password/reset/confirm/?uidb36%3Dl06p6hd%26token%3DSZiKoANpkHgEV1DdcU7Qpci7eQHEEchEj2yLpTiGND2ZZ3urflJBdgmsToQ70JJ3:one_click_login_email%26s%3Done_click_login_email&amp;source=gmail&amp;ust=1627644675726000&amp;usg=AFQjCNFVRvm-C85B9I31XWJUH2B6FZ6q_A">redefinir sua senha do Instagram</a>.</td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <div></div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                    <td style="display:block;width:20px" width="20">&nbsp;&nbsp;&nbsp;</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="border-collapse:collapse;margin:0 auto 0 auto;width:100%;max-width:600px" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="line-height:4px" colspan="3" height="4">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:15px" width="15px"></td>
                                                    <td style="display:block;width:20px" width="20">&nbsp;&nbsp;&nbsp;</td>
                                                    <td style="text-align:center">
                                                        <div style="padding-top:10px;display:flex">
                                                            <div style="margin:auto"><img src="https://ci4.googleusercontent.com/proxy/01HFxspmldn3qmKM0hnHaJAeIAyoeolGn4nz2FETzwY7QAgKVRaMCUM8wmePnnZgLNWMzcgAwV3MJDxnLikFHKsHZ4xiZX2slnE2f-KDFQ=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/pTeXjRdVk8c.png" alt="" class="CToWUd" width="77" height="30">
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div style="height:10px"></div>
                                                        <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">© Instagram. Facebook Inc., 1601 Willow Road, Menlo Park, CA 94025
                                                            <br>
                                                        </div>
                                                        <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto">Esta mensagem foi enviada para <a style="color:#abadae;text-decoration:underline">djamilsonapp@gmail.com</a> e destina a djamilsonac. Não é sua conta? <a href="https://instagram.com/accounts/remove/revoke_wrong_email/?uidb36=l06p6hd&amp;token=5sq-f5e8bcf3230cb71965c2d5c2335e7bfe&amp;nonce=c02w3DdP&amp;encoded_email=ZGphbWlsc29uYXBwQGdtYWlsLmNvbQ" style="color:#abadae;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://instagram.com/accounts/remove/revoke_wrong_email/?uidb36%3Dl06p6hd%26token%3D5sq-f5e8bcf3230cb71965c2d5c2335e7bfe%26nonce%3Dc02w3DdP%26encoded_email%3DZGphbWlsc29uYXBwQGdtYWlsLmNvbQ&amp;source=gmail&amp;ust=1627644675727000&amp;usg=AFQjCNHlvxqpxVIW3feOGU76YaFCUA1FdQ">Remova seu email</a> dessa conta.
                                                            <br>
                                                        </div>
                                                    </td>
                                                    <td style="display:block;width:20px" width="20">&nbsp;&nbsp;&nbsp;</td>
                                                    <td style="width:15px" width="15px"></td>
                                                </tr>
                                                <tr>
                                                    <td style="line-height:32px" colspan="3" height="32">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height:20px" colspan="3" height="20">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <span><img src="https://ci5.googleusercontent.com/proxy/fB2K71SDWPfeNzy8hORJIlwu1qPtWcZv_WjKidi_YKDRytu_QNC93ts04YJW00RVSzeqgshpVz1mFuJA2cEAg60brcelOhTjig4qlAYrzWRoUxYfRIuA9NlOT652w-jYhfFB-HNm2L4F53-u_XpbZ1i236RP=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=5c841250d32c5G24bc3780524311G5c8416ea33598G3df" style="border:0;width:1px;height:1px" class="CToWUd"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="message-content">
<p>Olá, {{name}}</p>
<p>Reserva realizada com sucesso!</p>

<p  class="start_date">
  <br />
  Data de início:
   <br />
    <strong color="#AEAEB3" fontSize="14">{{start_date}}</strong>
  <br />
    à
  <br />
   Data fim:
    <br /><strong color="#AEAEB3" fontSize="14">{{expected_return_date}}</strong>
  <br />
</p>

<p>Agora só deslocar até a locadora mais próximo e fazer a retirada <br />

do seu veículo!</p>
<p>Obrigado! <br /> <strong>Equipe da LocalX</strong></p>

</div>
